.navbar {
    background: linear-gradient(90deg, rgb(49, 64, 51) 0%, rgb(120, 157, 124) 100%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
    max-width: 1500px;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .navbar-logo {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 1.2rem;
    display: flex;
  }

  

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 60px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links2 {
    color: rgb(26, 69, 129);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }
  
  .fa-bars {
    color: #fff;
    text-decoration: none;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    text-decoration: none;
  }

  .active {
    color: 'red'
  }

  .menu-icon {
    display: none;
  }
  