/*HEADER*/
:root {
    --background-gray: rgba(224, 224, 224, 0.30);
}

.header {
    background-image: url('../../assets/dog_run.jpg');
    /* linear-gradient(rgba(181, 154, 135, 0.07), rgba(60, 66, 73, 0.6)) */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


.hero-text-box {
    position: absolute;
    max-width: 1200px;
    width: 80%;
    top: 50%;
    left:60%;
    /* margin-left: 50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}



/* .hero-text-box:hover{
    background-color: aqua;
} */

/* TEXT */
/* h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
} */

.homeh1 {
    text-align: left;
    margin: 0 0 20px 0;
    color: #ecf0f1;
    font-size: 250%;
    word-spacing: 4px;
}

/*---- BUTTONS----*/
.click:link,
.click:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.click:hover,
.click:active,
input[type=submit]:active,
input[type=submit]:hover {
    background-color: #ab550a;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #cf6d17;
    color: #fff
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff
}

