.navbarcolor{
  color: lightblue
}

.highlighter {
  background-color: #ecec548e;
  border-radius: 8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin:0;
  padding: 0;
}